
[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
	excludesfile = /opt/boxen/config/git/gitignore

[color]
ui = true

[push]
default = simple

[pretty]
niceoneline = format:%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset

[user]
name = David Pitzel
email = davidp@darkhorse.com

[alias]
st = status
dc = diff --cached
di = diff
ci = commit
	co = checkout
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[rerere]
	enabled = true
